.title {
	padding: 10px;
	margin-right: 25px;
}
.text {
	font-size: 12px;
}
/* ------------- tablet ------------- */
@media (min-width: 768px) {
	.title {
		padding: 10px;
	}
	.text {
		font-size: 14px;
	}
}
