.titlePlaceholders {
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #000 !important;
	line-height: 20;
}
.textPlaceholdersText,
.textPlaceholdersKey {
	font-size: 12px !important;
	font-weight: 600 !important;
}
.textPlaceholdersKey {
	font-weight: 900 !important;
}
.form {
	width: 140px !important;
}
.modal-content {
	margin: 4px 0 !important;
}
@media (min-width: 1024px) {
	.form {
		width: 120px !important;
	}
	
}