.loginContainer {
	width: 100% !important;
	height: 100vh !important;
	background-color: #fff !important;
}

.loginWrapper {
	width: 100% !important;
	height: 100% !important;
	background-color: #fff !important;
	padding: 100px 24px 24px !important;
	gap: 56px !important;
}

.loginBrand {
	width: 100% !important;
	height: 55px !important;
}

.loginForm {
	width: 100% !important;
	display: flex !important;
	flex-direction: column !important;
	flex: 1 !important;
}

.loginFormWrapper {
	display: flex !important;
	justify-content: space-between !important;
	flex: 1 !important;
	gap: 20px !important;
}

.loginFormWrapper :global(.ant-otp) {
	gap: 16px !important;
}

.loginFormWrapper :global(.ant-otp-input) {
	height: 40px !important;
	width: 40px !important;
}

.loginTitle {
	font-size: 20px !important;
	font-weight: 600 !important;
}

.loginInfoRight {
	text-align: right !important;
}

.loginInfoCenter {
	text-align: center !important;
}

.loginMobile {
	font-weight: 600 !important;
}

.loginOtpItem {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	margin-bottom: 0 !important;
}
.loginOtpItem :global(.ant-input-lg) {
	border-radius: 6px !important;
}

.loginInput {
	height: 40px;
}

.loginResendText {
	color: rgba(0, 0, 0, 0.6);
}

/* ---------- Media Query: Tablets and Up ---------- */
@media screen and (min-width: 768px) {
	.loginContainer {
		background-color: #1e1e2c !important;
	}

	.loginWrapper {
		width: 400px !important;
		height: initial !important;
		gap: 32px !important;
		padding: 32px !important;
		border-radius: 4px !important;
		filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.1)) !important;
	}

	.loginForm {
		justify-content: initial !important;
		flex: initial !important;
	}

	.loginFormWrapper {
		gap: 32px !important;
	}
}
