.ModalMobileRoot :global(.ant-drawer .ant-drawer-body) {
	padding-top: 0 !important;
}
.containerDrawer {
	border-radius: 16px 16px 0 0 !important;
}
.contentDrawer {
	height: 100%;
	justify-content: space-between;
}
.drawerHeader {
	min-height: 40px;
	align-items: center;
	display: flex;
	justify-content: center;
}
.lineDrawer {
	width: 24px;
	border-top: 4px solid #d1d4dd;
	border-radius: 2px;
	margin: 0 16px;
}
.touchesBox {
	height: 100%;
}
.okButton,
.returnButton {
	padding: 11px;
	height: 40px !important;
	flex: 1;
	font-size: 16px !important;
	font-weight: 500 !important;
	border-radius: 8px !important;
}
.returnButton {
	border: 1px solid #0066ee !important;
	color: #0066ee !important;
}
.title {
	font-size: 14px !important;
	font-weight: 500 !important;
	text-align: center;
}
.form {
	height: 100%;
	justify-content: space-between;
}
.mainContent {
	height: 100%;
}
.containerBtn {
	padding: 0 16px 16px 16px !important;
}

@media (min-width: 768px) {
	.ModalMobileRoot :global(.ant-card-body) {
		width: 100% !important;
	}
	.form {
		width: 100% !important;
	}
}

@media (min-width: 1024px) {
	.ModalMobileRoot :global(.ant-card-body) {
		width: 100% !important;
	}
	.form {
		width: 100% !important;
	}
}

@media (min-width: 1440px) {
	.ModalMobileRoot :global(.ant-card-body) {
		width: 100% !important;
	}
	.form {
		width: 100% !important;
	}
}
