.card-title {
	color: rgba(0, 0, 0, 0.5) !important;
	font-size: 16px !important;
	font-weight: 400 !important;
}
.card-text {
	color: #000 !important;
	font-size: 16px !important;
	font-weight: 400 !important;
}
