.text {
	font-size: 16px;
	font-weight: 400;
	color: #000000;
	margin: 0;
}

.title {
	font-size: 20px;
	font-weight: 500;
	color: #000000;
	margin: 0;
}

.info {
	color: #0066ee;
	font-size: 21px;
}

.error {
	color: #ff4d4f;
	font-size: 21px;
}
