.titlePlaceholders {
	font-size: 16px !important;
	font-weight: 400 !important;
	color: #000 !important;
	line-height: 20;
}
.titlePlaceholders p {
	margin-bottom: 0;
}
.textPlaceholdersText,
.textPlaceholdersKey {
	font-size: 16px !important;
	font-weight: 600 !important;
}
.textPlaceholdersKey {
	font-weight: 900 !important;
}

.textArea {
	font-size: 16px !important;
	line-height: 24;
	font-weight: 400;
}

/* deskop */
@media (min-width: 1024px) {
	.titlePlaceholders {
		font-size: 14px !important;
	}
	.textPlaceholdersText,
	.textPlaceholdersKey {
		font-size: 14px !important;
	}
	.textArea {
		font-size: 14px !important;
	}
}
