.titlePlaceholders {
	font-size: 12px !important;
	font-weight: 400 !important;
	color: #000 !important;
	line-height: 20;
}
.titlePlaceholders p {
	margin-bottom: 0;
}
.textPlaceholdersText,
.textPlaceholdersKey {
	font-size: 12px !important;
	font-weight: 600 !important;
}
.textPlaceholdersKey {
	font-weight: 900 !important;
}

/* deskop */
@media (min-width: 1440px) {
	.textArea {
		font-size: 16px !important;
		line-height: 24;
	}
}