.header {
	display: none;
}

.text {
	font-size: 12px;
}

.buttonAddNote {
	position: fixed;
	height: 75px;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
	background-color: #ffffff;
	width: 100vw;
	padding: 16px;
	button {
		width: 100%;
		border: 1px solid #0066ee;
		color: #0066ee;
		font-size: 16px;
		font-weight: 500;
	}
}

.wrapper {
	margin-top: 1rem;
}
.customDrawerRoot :global(.ant-drawer-body) {
	padding-top: 0 !important;
}
.itemForm {
	height: 100%;
}
.textArea {
	height: 100%;
	border-radius: 6px;
}
.touchesBox {
	height: 100%;
}
/* ------------- tablet ------------- */
@media (min-width: 768px) {
	.text {
		font-size: 14px;
	}
}
