.table {
	table {
		width: 296px !important;
	}
	th {
		font-size: 12px !important;
		text-align: center !important;
	}
	td {
		text-align: center;
		font-size: 12px;
	}
}

.date {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.titleLogs {
	font-weight: 400;
}

.footer {
	position: fixed;
	height: 75px;
	bottom: 0;
	right: 0;
	left: 0;
	background: white;
	border-top: 1px solid #eee;
	padding: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.timerText {
	flex: 1;
	display: flex;
	justify-content: center;
}

.timerText > span {
	font-weight: 500 !important;
	font-size: 20px !important;
}

.textBtn {
	font-weight: 500 !important;
	font-size: 1rem !important;
	width: 156px !important;
	height: 47px !important;
}

.btnDanger {
	flex: 1 !important;
	background-color: #0066ee;
	color: #ffff;
	height: 47px !important;
}

.btnModal {
	border-radius: 8px !important;
	font-weight: 500 !important;
	font-size: 16px !important;
}
