.item {
    padding: 36px;
}
.card-title {
    color: rgba(0, 0, 0, 0.50) !important;
    font-family: Vazirmatn !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 22px !important;
}
.card-text {
    color: #000 !important;
    text-align: right !important;
    font-family: Vazirmatn !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 20px !important;
}