.wrapper {
	padding-bottom: 70px;
}

.title {
	font-size: 14px !important;
	font-weight: 400 !important;
	color: #000000 !important;
}

.date {
	font-weight: 400 !important;
	color: rgba(0, 0, 0, 0.6);
	font-size: 12px !important;
}

.text {
	font-weight: 300 !important;
}

.btn {
	width: fit-content;
}

@media (min-width: 768px) {
	.text {
		font-size: 14px;
	}
}
