.infoWrapper {
	margin-top: 20px;
	padding: 0;
}

.line {
	margin-top: 15px;
}

.text {
	font-size: 12px;
}

/* ------------- tablet ------------- */
@media (min-width: 768px) {
	.text {
		font-size: 14px;
	}
}

.form {
	padding: 20px;
}
