.no-star label::before {
	display: none !important;
}
.form {
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
}

.formItem {
	height: 90px;
	max-width: 312px;
	width: 100%;
	label::before {
		display: none !important;
	}
}
.text-center {
	text-align: right;
}
