.no-star label::before {
	display: none !important;
}
.formContainer {
	height: 70vh;
}
.formItem {
	height: 90px;
	max-width: 312px;
	width: 100%;
	label::before {
		display: none !important;
	}
}
.text-center {
	text-align: right;
}
