.itemCard {
	height: 40px !important;
}

.cardType {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 6px;
	justify-content: flex-start;
}

.cardRole {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.value {
	font-size: 14px;
	font-weight: 500;
}

.label {
	font-size: 14px;
	font-weight: 400;
	color: #1e1e2c;
}
