.card {
}
.cardContainer {
	width: 100%;
	direction: rtl;
}
.itemCaar {
	height: 40px !important;
}
.cardType {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 6px;
	justify-content: flex-start;
}

.cardRole {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	span {
		font-weight: 600 !important;
	}
}
.modalDescription :global(.ant-modal-title) {
	font-size: 12px !important;
	font-weight: 600 !important;
}
.table {
	table {
		width: 296px !important;
	}
	th {
		font-size: 12px !important;
		text-align: center !important;
	}
	td {
		text-align: center;
		font-size: 12px;
	}
}

.container {
	padding-bottom: 80px;
	position: relative;
	min-height: 100vh;
}

.footer {
	position: fixed;
	height: 75px;
	bottom: 0;
	right: 0;
	left: 0;
	background: white;
	border-top: 1px solid #eee;
	padding: 12px 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.timerText {
	color: green;
	font-weight: bold;
	font-size: 16px;
}

@media (min-width: 1280px) {
	.cardContainer {
		display: none;
	}
}
