.cardContainer {
	width: 100%;
	direction: rtl;
}

.cardType {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 6px;
	justify-content: flex-start;
}

.cardRole {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	font-weight: 500;
}
