h4 {
	margin: 0;
}
.btns {
	button {
		width: fit-content;
	}
}

.wrapper {
	margin-top: 1rem;
	padding-bottom: 70px;
}
.text {
	font-size: 12px;
}
.lineDrawer {
	width: 24px;
	border: 4px solid #d1d4dd;
}
.wrapper {
	margin-top: 1rem;
}
.title {
	font-size: 14px !important;
	font-weight: 400 !important;
}
.date {
	font-weight: 400 !important;
	color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
}
.text {
	font-weight: 300 !important;
}
/* ------------- tablet ------------- */
@media (min-width: 768px) {
	.text {
		font-size: 14px;
	}
}
