/* --------------------------------------------
   1. Base Tags and Reset Styles
--------------------------------------------- */
@import url('./assets/fonts/Vazirmatn/Vazirmatn-FD-font-face.css');

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* --------------------------------------------
   2. Ant Design Class Overrides
--------------------------------------------- */
.ant-modal {
	max-width: 420px;
}

.ant-flex {
	gap: 16px;
}

.ant-pagination {
	gap: 8px !important;
}

.ant-input {
	padding-top: 0.5rem;
}

.ant-otp .ant-otp-input-wrapper {
	margin-left: 16px !important;
}

.ant-breadcrumb-link > span,
.ant-breadcrumb-link > a {
	font-size: 14px !important;
	font-weight: 400 !important;
}

.ant-breadcrumb > ol {
	gap: 8px !important;
}

.ant-pagination-item {
	padding: 0 6px !important;
}

.ant-btn-color-dangerous {
	color: #f5222d !important;
}

.ant-picker {
	border-radius: 4px !important;
}

/* --------------------------------------------
   3. Custom Utility / UI Classes
--------------------------------------------- */
.text-page-title {
	font-size: 1rem !important;
	font-weight: 400 !important;
	color: #000000 !important;
	margin-bottom: 0 !important;
}

.text-card-title {
	font-size: 1rem !important;
	font-weight: 400 !important;
	color: #000000e0 !important;
	margin-bottom: 0 !important;
}

.text-h1 {
	font-size: 1rem !important;
	font-weight: 600;
	color: #374151;
	line-height: 1.3;
}

.text-h2 {
	font-size: 1rem !important;
	font-weight: 600;
	color: #374151;
	line-height: 1.3;
}

.text-h3 {
	font-size: 0.875rem !important;
	font-weight: 500;
	color: #4b5563;
	line-height: 1.4;
}

.text-h4 {
	font-size: 0.75rem !important;
	font-weight: 500;
	color: #4b5563;
}

.label .text {
	font-weight: 400;
	font-size: 1rem !important;
	color: #00000080;
}

.value .text {
	font-weight: 500;
	font-size: 1rem !important;
	color: #000;
}

.style-btn {
	border-color: #0066ee;
	color: #0066ee;
}

.ant-modal-content {
	display: flex !important;
	flex-direction: column !important;
	gap: 20px !important;
}

.ant-form {
	display: flex !important;
	flex-direction: column !important;
	gap: 20px !important;
}

.ant-form-item {
	margin-bottom: 0 !important;
}

.ant-modal-footer {
	margin-top: 0 !important;
}

.ant-modal .ant-row {
	flex-flow: row nowrap !important;
}

.ant-form-item-label {
	width: 160px !important;
}

.ant-select-selector {
	border-radius: 4px !important;
}

@media (min-width: 1440px) {
	.ant-modal {
		max-width: 520px;
	}
}

@media (1280px <= width <1440px) {
	.ant-modal {
		max-width: 520px;
	}

	.text-page-title {
		font-size: 13px !important;
	}

	.ant-breadcrumb-link > span,
	.ant-breadcrumb-link > a {
		font-size: 11px !important;
	}

	.ant-breadcrumb > ol {
		gap: 5px !important;
	}

	.ant-pagination {
		gap: 5px !important;
	}

	.ant-btn {
		font-size: 13px !important;
		padding: 0 12px !important;
		height: 39px !important;
	}

	.ant-flex {
		gap: 13px !important;
	}

	.ant-card-body .ant-flex {
		gap: 33px !important;
	}

	.ant-btn .ant-flex {
		gap: 5px !important;
	}

	.text-card-title {
		font-size: 13px !important;
	}

	.value .text,
	.label .text {
		font-size: 13px !important;
	}

	.ant-table-wrapper .ant-table {
		font-size: 13px !important;
	}
}
