@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');
:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.text-page-title {
	font-size: 1rem !important;
	font-weight: 500;
	color: #1f2937;
	margin-bottom: 0 !important;
}
.text-h2 {
	font-size: 1rem !important;
	font-weight: 600;
	color: #374151;
	line-height: 1.3;
}
.text-h3 {
	font-size: 0.875rem !important;
	font-weight: 500;
	color: #4b5563;
	line-height: 1.4;
}
.text-h4 {
	font-size: 0.75rem !important;
	font-weight: 500;
	color: #4b5563;
}
.text-paragraph {
	font-size: 1rem !important;
	line-height: 1.75;
	color: #6b7280;
}
.text-caption {
	font-size: 0.875rem !important;
	color: #9ca3af;
}
.label .text {
	font-weight: 400;
	color: #00000080;
}
.value .text {
	font-weight: 500;
	color: #000;
}
.ant-layout-header {
	padding: 0 !important;
}
.ant-flex {
	gap: 16px;
}
.custom-tag {
	display: inline-flex;
	align-items: center;
	flex-direction: row-reverse;
	gap: 6px;
	padding: 2px 12px;
	font-size: 14px;
}
.ant-card .ant-card-body {
	display: flex !important;
	flex-direction: column !important;
	gap: 30px !important;
}
.avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}