.progressWrapper {
	display: flex;
	direction: ltr;
	overflow: hidden; /* اضافه شد */
	height: 8px; /* همون ارتفاع دلخواه */
	border-radius: 4px; /* گوشه‌ها */
	background: #e0e0e0; /* رنگ پایه */
	gap: 4px; /* فاصله بین بخش‌ها */
}

.progressSection {
	position: relative;
	transition: flex-basis 0.3s ease;
}
