.cardContainer {
	display: none;
}
.infoWrapper {
	margin-top: 20px;
	padding: 0;
}

.line {
	margin-top: 15px;
}
/* ------------- tablet ------------- */
@media (min-width: 1280px) {
	.cardContainer {
		display: block;
	}
}
