.layout {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.menuIcon {
	color: #fff !important;
}

.w-full {
	width: 100%;
}

.flex {
	flex: 1;
}

.title {
	font-size: 14px !important;
	color: white !important;
}

.button {
	color: #a3a3ae !important;
}

.button_click {
	color: white !important;
}

.content {
	flex: 1;
	overflow: auto;
	background: #f5f5f5;
}

.drawer-menu {
	height: 100% !important;
}

.icons {
	min-width: 18px !important;
	font-size: 18px !important;
}

.icon_export {
	color: #a3a3ae !important;
}

.text_export {
	font-size: 0.875rem !important;
	color: rgba(0, 0, 0, 0.88) !important;
	font-weight: 400 !important;
}

.svg_icon {
	width: 19px;
	height: 19px;
	position: relative;
	right: -1px;
}

.dropdown {
	display: flex;
}

.exit {
	font-size: 0.875rem !important;
	font-weight: 400 !important;
	color: rgba(0, 0, 0, 0.88) !important;
}

.userMenu {
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 1000;
	border-radius: 4px;
}

.userMenu :global(.ant-menu-item-icon) {
	font-size: 18px !important;
}

.userMenu :global(.ant-menu-title-content) {
	padding: 0 !important;
	margin: 2px !important;
}

.mobileMenuWrapper {
	position: absolute;
	top: 64px;
	left: 0;
	width: 100%;
	z-index: 999;
	background: #262832;
}

.mobileMenu {
	background: #1f1f1f !important;
	border: none !important;
}

.mobileMenu :global(.ant-menu-item) {
	color: #fff !important;
	padding: 12px 16px !important;
}

.mobileMenu :global(.ant-menu-item-selected) {
	background-color: #0066ee !important;
	color: #fff !important;
	border-radius: 0 !important;
	margin: 0 !important;
	width: 100% !important;
}

.mobileMenu :global(.ant-menu-item) {
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	height: 68px !important;
	line-height: 48px !important;
	color: #ffffffa6 !important;
	padding: 0 16px !important;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
	z-index: -1;
}

@media (min-width: 1024px) {
	.content {
		padding: 40px 60px 60px;
	}
}

@media (1024px <=width <1440px) {
	:global(.ant-menu-title-content) {
		font-size: 14px !important;
	}

	.icons {
		min-width: 15px !important;
		font-size: 15px !important;
	}
}